
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.top .buttum{
    &:hover{
        background-color: #141414;
        p{
        color: #fff;
    }}
    }
    .content p{
        color: #808080;
        font-size: 20px;
        display: block;
        span{
            display: inline-block;
        }
        i{
            margin: auto;
            text-align: center;
        }
       
      
    }
    
    .content .button{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #141414;
    border-radius: 20px;
    
        
    }
    .builder-point h3:hover{
        background-color: #F6F6F6;
        border-radius: 10px;
        margin: auto;
     
        text-align: center;
    }
    /* @media(max-width:500){
     .top 
     {  
        .nav ul li{
           display: block;
           display: inline-block;
        }
    }
    }*/
    .nav{
        width: 100%;
       
    }
    .nav .links{
        cursor: pointer;
      
    }
    @media(max-width:768){
        .builder{
            margin-left:40px;
           
        }
    }
    .b{
        display: none;
    } 

    @media (max-width: 768px) {
        .nav ul li:not(:last-child) {
          margin-right: 30px;
        }
      }

    @media(max-width:600px){
    .nav{
position: relative;
transition: 0.5s height ease-in-out;
    }

.nav .toogle-icon{
    display: block;
  top: 28px;
right: 20px;
    position: absolute;
}

  .navbar.expanded{
height: 100vh;
  }
  nav.navbar.expanded .links{
position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   li{
    margin: 15px 0px;
    font-size: 24px;
  }
}
.nav .links{
    display: none;
}
    }



    .sticky{
        animation:fadeIn 2s ;
        position: fixed;
        width: 100%;
        background: #fff;
        top: 0;
        z-index: 9999999999;
  box-shadow: 0px 0px 3px 3px #ccc;
      }
      @keyframes fadeIn{
        0%{transform: translateY(-100%);}
        100%{transform: translateY(0%);}
      }