.footer-service li{
    color: #fff;
    &:hover{
        color: #65BD7D;
    }
}
.footer-form  {

.border{
    border-radius: 10px;
    border: 1px solid #141414;
    background-color:#141414 ;
}

h6{
    display: inline-block;
    
    span{
        display: block;
       
    }
}
}
/* .footer form{
    width: 500px;
} */
.footer-form{
    position: relative;
   
    .bottom{
        position: absolute;
    right: 10px;
       
    }
}
@media(max-width:560px){
   .footer-service  {
    box-sizing: border-box;
   justify-content: center;
    margin-top: 30px;
    line-height: 25px;
  padding-left: 25px;
    ul li{
        justify-content: left;
        margin-left: 0;
        text-align: left;
    }
}
.footer-form{
    margin-top: 30px;
    line-height: 25px;
  justify-content: center;
 padding-left: 25px;
    h6{
      text-align: center;
      justify-content: center;
    }
    position: relative;
   
    .bottom{
        position: absolute;
    right: 10px;
       
    }
}
}

@media(max-width:900px){
    .footer-service  {
     box-sizing: border-box;
    justify-content: center;
     margin-top: 30px;
     line-height: 25px;
   padding-left: 25px;
     ul li{
         justify-content: left;
         margin-left: 0;
         text-align: left;
     }
 }
 .footer-form{
     margin-top: 30px;
     line-height: 25px;
   justify-content: right;
  padding-left: 25px;
     h6{
       text-align: center;
       justify-content: center;
     }
     position: relative;
     .bottom{
         position: absolute;
     right: 10px;
    
        
     }
 }
 }
